<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="sku">
	<f:translate key="tx_mage2typo3_domain_model_product.sku" />
</label><br />
	<f:form.textfield property="sku" /><br />
<label for="createdAt">
	<f:translate key="tx_mage2typo3_domain_model_product.created_at" />
</label><br />
	<f:form.textfield property="createdAt" value="{product.createdAt->f:format.date()}" /><br />
<label for="updatedAt">
	<f:translate key="tx_mage2typo3_domain_model_product.updated_at" />
</label><br />
	<f:form.textfield property="updatedAt" value="{product.updatedAt->f:format.date()}" /><br />
<label for="name">
	<f:translate key="tx_mage2typo3_domain_model_product.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="status">
	<f:translate key="tx_mage2typo3_domain_model_product.status" />
</label><br />
	<f:form.textfield property="status" /><br />
<label for="tags">
	<f:translate key="tx_mage2typo3_domain_model_product.tags" />
</label><br />
	<f:form.textfield property="tags" /><br />
<label for="price">
	<f:translate key="tx_mage2typo3_domain_model_product.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="description">
	<f:translate key="tx_mage2typo3_domain_model_product.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="shortDescription">
	<f:translate key="tx_mage2typo3_domain_model_product.short_description" />
</label><br />
	<f:form.textarea property="shortDescription" cols="40" rows="15" /><br />
<label for="productImage">
	<f:translate key="tx_mage2typo3_domain_model_product.product_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>