<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mage2typo3" >
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.sku" />
		</td>
		<td>
			{product.sku}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.created_at" />
		</td>
		<td>
			{product.createdAt -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.updated_at" />
		</td>
		<td>
			{product.updatedAt -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.name" />
		</td>
		<td>
			{product.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.status" />
		</td>
		<td>
			{product.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.tags" />
		</td>
		<td>
			{product.tags}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.price" />
		</td>
		<td>
			{product.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.description" />
		</td>
		<td>
			{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.short_description" />
		</td>
		<td>
			{product.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_product.product_image" />
		</td>
		<td>
			{product.productImage.originalResource.name}
		</td>
	</tr>
</table>
</html>