<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="shopName">
	<f:translate key="tx_mage2typo3_domain_model_shop.shop_name" />
</label><br />
	<f:form.textfield property="shopName" /><br />
<label for="url">
	<f:translate key="tx_mage2typo3_domain_model_shop.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="userName">
	<f:translate key="tx_mage2typo3_domain_model_shop.user_name" />
</label><br />
	<f:form.textfield property="userName" /><br />
<label for="password">
	<f:translate key="tx_mage2typo3_domain_model_shop.password" />
</label><br />
	<f:form.textfield property="password" /><br />
</html>