<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mage2typo3" >
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_shop.shop_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_shop.url" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_shop.user_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mage2typo3_domain_model_shop.password" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>