<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Products</h1>

		<f:flashMessages />

		<table  class="tx_mage2typo3" >
			<tr>
				<th><f:translate key="tx_mage2typo3_domain_model_products.sku" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.created_at" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.updated_at" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.name" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.status" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.tags" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.price" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.description" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.short_description" /></th>
				<th><f:translate key="tx_mage2typo3_domain_model_products.images" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{productss}" as="products">
				<tr>
					<td><f:link.action action="show" arguments="{products : products}"> {products.sku}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.createdAt -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.updatedAt -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.status}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.tags}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.price}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.shortDescription}</f:link.action></td>
					<td><f:link.action action="show" arguments="{products : products}"> {products.images}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{products : products}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{products : products}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Products</f:link.action>
	</f:section>
</html>